<!DOCTYPE css>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <style>
        .card {
            border: 3px solid black;
            border-radius: 25px;
            height: fit-content;
            width: 500px;
            background-color: aliceblue;
            margin: 10px;

            
        }

    
    
        .card-image {

            width: 100px;
            border-radius: 50%;
        }

        .card-titulo-nome{
            font-size: 35px;
            
}
    </style>

</head>

<body style="margin: 0;">


    <div class="card">

        <div class="card-image">

            <img src=file:///D:/bakcup%20pc%20enzo/rpg/sprites/Sprite5/5ab51393-7ece-4c3f-bd07-a805fdab7aeb.png
                style="width: 70%; height: 70%;" * />

        </div>

        <div>
            <h1 class="card-titulo"><Span class="card-titulo-nome">Meu nome é Adriana</Span></h1>
            <p><span>mensagem:<i style="font-weight: bold;color: brown;"> a vida não é um morango! e ta tudo
                        bem</i></span></P>
        </div>
    </div>
    <div style="width: 500px; height:  fit-content; border: 3px solid black;
    border-radius: 25px; background-color: aliceblue; margin: 10px;">

        <div style="width: 100px; border-radius: 50%;">

            <img src=file:///D:/bakcup%20pc%20enzo/rpg/sprites/Sprite8/98d31a42-caf1-4b11-a062-9046f3daf5f5.png style="width: 70%; height: 70%;" * />

        </div>

        <div>
            <h1><Span style="font-size: 35px;">Meu nome é Fabio</Span></h1>
            <p><span>mensagem:<i style="font-weight: bold;color: brown;"> Saudades dos momentos que a gente ainda nao
                        viveu</i></span></P>
        </div>
    </div>
</body>

</html>